%p
  %strong Логин:
  = @user.login
%p
  %strong E-mail:
  = @user.email
%p
  %strong Имя:
  = @user.first_name
%p
  %strong Фамилия:
  = @user.last_name
%p
  %strong День рождение:
  = @user.birthday
= link_to 'Назад', users_path
= link_to 'Обновить', edit_user_path(@user)
