%div{ id: comment.id }
  - if can? :manage, comment
    %p.text-right
      = link_to '', comment, method: :delete, class: 'glyphicon glyphicon-remove', remote: true
  %blockquote
    = comment.body
    %footer
      = link_to comment.user.login || comment.user.email, comment.user
      %br
      = time_ago_in_words(comment.created_at)
      = t 'ago'
