%h2
  %strong
    = t '.title'
= form_for @user do |f|
  %p
    = f.label t '.login'
    %br
      = f.text_field :login
  %p
    = f.label t '.surname'
    %br
      = f.text_field :first_name
  %p
    = f.label t '.name'
    %br
      = f.text_field :last_name
  %p
    = f.label t '.birthday'
    %br
      = f.text_field :birthday
  %p
    = f.label t '.locale'
    = f.select(:locale, ['ru', 'en'])
  %p
    = f.submit t '.update'
= link_to t('.back'), users_path
