%h2
  %strong
    = t '.title'
= form_for @user, html: {multipart: true} do |f|
  - if @user.avatar?
    %p
      = image_tag(@user.avatar_url, width: 200, height: 200)
      %br
        = f.check_box :remove_avatar
        = t '.remove_avatar'
  %p
    = f.file_field :avatar
  %p
    = f.label t '.login'
    %br
      = f.text_field :login
  %p
    = f.label t '.surname'
    %br
      = f.text_field :first_name
  %p
    = f.label t '.name'
    %br
      = f.text_field :last_name
  %p
    = f.label t '.birthday'
    %br
      = f.text_field :birthday
  %p
    = f.label t '.locale'
    = f.select(:locale, ['ru', 'en'])
  %p
    = f.submit t 'update'
