%h2
  %strong
    = t '.title', login: @user.login
%br
%p
  %strong
    = t '.surname'
  = @user.first_name
%p
  %strong
    = t '.name'
  = @user.last_name
%p
  %strong
    = t '.birthday'
  = @user.birthday
= link_to t('.back'), users_path
= link_to t('.update'), edit_user_path(@user)
