!!!
%html
  %head
    %title Social
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      .container-fluid
        %ul.nav.navbar-nav
          %li
            %a.navbar-brand{:href => "http://evrone.ru/"} Evrone School
          %li.active
            %a{:href => "/"} Главная
          %li
            %a{:href => "#"} Пользователи
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to 'Выйти', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Регистрация', new_user_registration_path
            %li= link_to 'Войти', new_user_session_path
    .container
      .jumbotron
        = yield
