<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="http://evrone.ru/">Evrone School</a></li>
          <li class="active"><a href="/">Главная</a></li>
          <li><a href="#">Пользователи</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to 'Выйти', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Регистрация', new_user_registration_path %></li>
            <li><%= link_to 'Войти', new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
  </nav>
  <div class="jumbotron">
    <%= yield %>
  </div>

</body>
</html>
