!!!
%html
  %head
    %title Social
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-md-10.col-md-push-1
          = render 'layouts/header'
          .row
            .col-md-2
              - if user_signed_in?
                = render 'layouts/sidebar'
            .col-md-10
              = yield
